@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¡Bienvenido!</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Objetivos</h2>
        <p>
            Desde Quodem queremos ver tus capacidades técnicas y para ello te hemos propuesto un reto divertido.
        </p>
        <p>
            <b>Antes de que comiences con los retos comunicarte que:</b>
            <ul>
                <li>Puedes utilizar internet para afrontar la prueba</li>
                <li>Se valorará la metodología y buenas prácticas utilizadas en el desarrollo</li>
                <li>En tan poco tiempo no da tiempo a elaborar una solución elegante, por ello en "/App_Data/Comentarios.txt" puedes añadir cualquier tipo de anotación</li>
            </ul>
        </p>
    </div>
    <div class="col-md-12">
        <h2>Reto: Obtener listado de personajes de Star Wars</h2>
        <p>
            Para este reto nos hemos propuesto obtener el listado de algunos personajes de Star Wars. Para ello disponemos de una API pública (https://swapi.dev/) que nos podrá dar la
            información de los personajes de Star Wars. Como son muchos, basta con que nos facilites <b>una lista con al menos 5 personajes</b> y que queden <b>ordenados</b> de manera ascendente.
            Desde el menú de la web puedes acceder a la sección de Star Wars y es ahí donde se deberá listar la información de la manera que quieras.
        </p>
        <p>
            Además, haciendo uso de jQuery deberemos de hacer lo siguiente:
            <ul>
                <li>Los personajes masculinos tienen que salir en negrita</li>
                <li>Los personajes femeninos tienen que salir en cursiva</li>
                <li>Eliminar del listado aquellos personajes sin género</li>
                <li>Un botón que establezca un fondo de color a los 3 primeros personajes y que al volver al clicarlo, elimine el fondo de color</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://swapi.dev/documentation" target="_blank">Documentación API Star Wars</a></p>
    </div>
</div>